:root {
    --background: #fff;
    --text-color: #1a1a1a;
    --primary-color: #2b5876;
    --secondary-color: #4e4376;
    --weak-color: #fc8181;
    --strong-color: #68d391;
    --medium-color: #fbd38d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 10px;
   color: #333;
}
/*hhh*/

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, var(--background),red,blue);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
    opacity: 0.4;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}
/*kjkk*/
.container {
    background-color: var(--background);
    max-width: 600px;
    border: none;
    border-radius: 15px;
    width: 100%;
    margin: 0 15px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}


h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    color: var(--primary-color);
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 1000px;
    transform: translateX(-50%);
    width: 40%;
    bottom: 0;
    left: 50%;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border: 1px solid #e2e8f0;
    padding: 0 1rem 0 0;
    border-radius: 100px;
    background-color: #f8fafc;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#password {
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 100px;
    width: 22rem;
    outline: none;
    color: var(--text-color);
    background: transparent;
    letter-spacing: 1px;
}
.copy-btn {
    height: 30px;
    width: 30px;
    color: #333;
    font-size: 1.1rem;
    padding: 5px;
    cursor: pointer;
}
.copy-btn:hover {
    color: var(--primary-color);
}
.options {
    background-color: #f8fafc;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.09);
    margin-bottom: 2rem;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.option:last-child {
    margin-bottom: 0;
}

.option label{
    font-size: 1rem;
    font-weight: 500;
}

.range-con{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 60%;
}
input[type="range"]{
    accent-color: var(--primary-color);
    height: 5px;
    flex: 1;
    cursor: pointer;
}

input[type="checkbox"]{
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    appearance: none;
    width: 20px;
    cursor: pointer;
    outline: none;
    height: 20px;
    position: relative;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    position: relative;
}
input[type="checkbox"]:checked::after {
    content: '\2714';
    position: absolute;
    left: 15%;
    color: #fff;
}

#length-container {
    text-align: center;
    background: #e2e8f0;
    font-weight: 600;
    color: var(--primary-color);
    width: 30px;
    padding: 3px 5px;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    color: var(--background);
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border: none;
    border-radius: 1000px;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}
button:hover {
    transform: translateY(-2px);
}
button:active {
    transform: translateY(0);
}
.strength-con {
    margin-top: 0.8rem;
}
.strength-con p{
    display: flex;
    justify-content: space-between;
    align-item: center;
    margin-top: 0.6rem;
    font-weight: 500;
}
#strength-label {
    color: var(--primary-color);
    font-weight: 600;
}
.strength-meter {
    height: 10px;
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: #edf2f7;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.strength-bar {
    height: 100%;
    width: 0;
    min-width: 5%;
    background-color: var(--weak-color);
    transition: all 0.3s ease;
}

@media (max-width: 800px){
    .container {
        width: 100%;
    }
    h1 {
        font-size: 1.2rem;
        font-weight: 500;
    }
}