<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form id="pwd-form">
            <label>
                Length:
                <input type="number" name="length" id="length" value="16" min="4" max="128">
            </label><br>
            <label>
                <input type="checkbox" name="use_upper" id="use_upper" checked>
                Include Uppercase Letters
            </label><br>
            <label>
                <input type="checkbox" name="use_lower" id="use_lower" checked>
                Include Lowercase Letters
            </label><br>
            <label>
                <input type="checkbox" name="use_digits" id="use_digits" checked>
                Include Digits
            </label><br>
            <label>
                <input type="checkbox" name="use_special" id="use_special" checked>
                Include Special Characters
            </label><br>
            <button type="submit">Generate</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/password.js') }}"></script>
</body>
</html>