<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Password Generator</title>
</head>
<body>
    <div class="container">
      <h1>password generator</h1>

        <div class="password-container">
          <input type="text" readonly id="password">
          <i class="far fa-copy copy-btn" id="copy-btn" title="copy to clipboard"></i>
        </div>

        <div class="options">

          <div class="option">
            <label for="length">Password Length</label>
            <div class="range-con">
                <input type="range" id="length" min="6" max="24" value="12">
                <span id="length-value">12</span>
            </div>
          </div>

          <div class="option">
            <label for="uppercase">Include Uppercase</label>
            <input type="checkbox" id="uppercase" checked>
          </div>

          <div class="option">
            <label for="lowercase">Include Lowercase</label>
            <input type="checkbox" id="lowercase" checked>
          </div>

          <div class="option">
            <label for="numbers">Include Numbers</label>
            <input type="checkbox" id="numbers" checked>
          </div>

          <div class="option">
            <label for="symbols">Include Symbols</label>
            <input type="checkbox" id="symbols" checked>
          </div>

        </div>

        <button id="gen-btn">
          <i class="fas fa-key"></i>
          Generate Password
        </button>

      <div class="strength-con">
        <p>Password strength: <span id="strength-label">Medium</span></p>
        <div class="strength-meter">
            <div class="strength-bar"></div>
        </div>
      </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/password.js') }}"></script>

</html>